<!DOCTYPE html>
<html>
<head>
<title>Hexagon Code Coverage</title>
<link href="{{ CSS_ROOT_PATH }}/css/cov.css" rel="stylesheet" type="text/css" />
<link href="{{ CSS_ROOT_PATH }}/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ JS_ROOT_PATH }}/jquery.js"></script>
<script type="text/javascript" src="{{ JS_ROOT_PATH }}/plugins/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ JS_ROOT_PATH }}/cov.js"></script>
</head>
<body class='{{ CLASS }}'>
