<tr>
<td class='toc_index'>{{ INDEX }}</td>
<td class='toc_entry_type'>{{ TOC_ENTRY_TYPE }}</td>
<td class='toc_src_file_weight {{ COLOR_CLASS }}'>({{ WEIGHT_TEXT }})%</td>
<td><a class='toc_src_file_path' href='{{ TOC_HREF }}' title='{{ TOC_TITLE }}' target=source_frame>{{ TOC_TEXT }}</a></td>
</tr>

