<tr class='{{ COLOR_CLASS }}'>
<td class='note_col'>{{ PACKET_NOTE }}</td>
<td class='instr_cnt_col'>{{ PACKET_COUNT }}</td>
<td class='spacer_col'></td>
<td class='cycles_label_col'>cycles</td>
<td class='spacer_col'></td>
<td class='instr_col'><pre>{{ PACKET_LINE }}</pre></td>
</tr>
