<!DOCTYPE html>
<html>
<head>
<title>Hexagon Code Coverage</title>
<link href="{{ CSS_ROOT_PATH }}/cov.css" rel="stylesheet" type="text/css" />
<link href="{{ CSS_ROOT_PATH }}/javascript/jquery/datatables/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ JS_ROOT_PATH }}/javascript/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ JS_ROOT_PATH }}/javascript/jquery/datatables/DataTables-1.10.0/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ JS_ROOT_PATH }}/cov.js"></script>
</head>
<body class='{{ CLASS }}'>
